# 1. Ignora o diretório uploads, o que impede que o git entre nele
uploads/
# 2. Reverte a exclusão do próprio diretório uploads
!uploads/
# 3. Ignora todos os arquivos dentro do diretório uploads
uploads/*
# 4. Reverte a exclusão do arquivo simple.pdf dentro do diretório uploads
!uploads/simple.pdf

*.key
*.pem
*.pub

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/src/main/resources/private.pem
