spring:
  application:
    name: PdfSorgu
  output:
    ansi:
      enabled: ALWAYS
  profiles:
    active: dev

  datasource:
    url: jdbc:postgresql://localhost:5432/pdfsorgu-db
    username: userpgv
    password: passpgv
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  ai:
    ollama:
      base-url: http://localhost:11434
      embedding:
        options:
          model: nomic-embed-text
      chat:
        options:
          model: mistral

    vectorstore:
      pgvector:
        initialize-schema: true
        index-type: HNSW
        distance-type: COSINE_DISTANCE

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

#logging:
#  level:
#    org.springframework.web: ERROR

file:
  upload-dir: uploads