spring:
  ai:
    google:
      genai:
        api-key: ${GEMINI_API_KEY}
        chat:
          options:
            model: gemini-2.0-flash-lite

    ollama:
      base-url: http://localhost:11434
      embedding:
        options:
          model: nomic-embed-text